# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

ci:
  autofix_prs: false
  autofix_commit_msg: "[Lint]: [pre-commit.ci] auto fixes [...]"
  autoupdate_commit_msg: "[CI] [pre-commit.ci] autoupdate"
  autoupdate_schedule: monthly
default_stages: [pre-commit, pre-push, manual]


repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-symlinks
      - id: destroyed-symlinks
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files
      - id: check-merge-conflict
        fail_fast: true
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: detect-private-key
      - id: check-yaml
      - id: check-toml
      - id: check-ast
        fail_fast: true
      - id: debug-statements
      - id: file-contents-sorter
        args: [--ignore-case]
        files: ^docs/spelling_wordlist\.txt$

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.3  # sync with requirements-lint.txt
    hooks:
      - id: ruff-check
        args: [--fix, --exit-non-zero-on-fix]

  - repo: https://github.com/google/yapf
    rev: v0.43.0  # sync with requirements-lint.txt
    hooks:
      - id: yapf
        name: yapf-multiproc-bugfix
        args: [--in-place, top/__init__.py]
        always_run: true
        pass_filenames: false
      - id: yapf
        args: [--recursive, --in-place]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1  # sync with requirements-lint.txt
    hooks:
      - id: codespell
        additional_dependencies: [".[toml]"]
        exclude: |
          (?x)(
            ^.+\.(cpp|hpp|cxx|cc|c|h|cu|cuh)$|
            ^.+\.svg$|
            ^.*\brequirements\b.*\.txt$
          )

  - repo: https://github.com/executablebooks/mdformat
    rev: 0.7.22
    hooks:
      - id: mdformat
        additional_dependencies:
          - mdformat-gfm==0.4.1
          - mdformat-black==0.1.1
          - mdformat-myst==0.2.1
          - mdformat-tables==1.0.0
          - mdformat-toc==0.3.0

  - repo: https://github.com/PyCQA/flake8
    rev: 7.1.2
    hooks:
    -   id: flake8
        additional_dependencies:
            - flake8-bugbear==24.12.12
            - flake8-comprehensions==3.16.0
            - flake8-docstrings==1.7.0
            - flake8-simplify==0.21.0
            - flake8-unused-arguments==0.0.13
            - flake8-variables-names==0.0.6
            - flake8-return==1.2.0
            - flake8-print==5.0.0
