[lint]

ignore = [
  "D100",
  "D101",
  "D102",
  "D103",
  "D104",
  "D105",
  "D106",
  "D107",
  "D203",
  "D212",
  "D213",
  "D406",
  "D407",
  "D408",
  "D409",
  "D410",
  "D411",
  "D412",
  "D413",
  "D414",
  "D415",
  "D416",
  "D417",
  "D418",
  "D419",
  "T201",
]


[lint.per-file-ignores]
"__init__.py" = ["F401"]
